<div class="container">
	@if (publisher != null) {
	<div class="slide-up-in">
		<div class="head-container">
			<img [src]="publisher.logoUrl" width="72" height="72" />
			<h1>{{ publisher.name }}</h1>
		</div>

		<div class="head-buttons-container">
			<dav-button
				[color]="followTableObject != null ? 'error' : 'primary'"
				size="small"
				(click)="followTableObject != null ? unfollow() : follow()"
			>
				<fa-icon
					[icon]="faPlus"
					[style.transform]="
						followTableObject != null ? 'rotate(45deg)' : 'rotate(0deg)'
					"
				></fa-icon>
				{{ followTableObject != null ? actionsLocale.unfollow : actionsLocale.follow }}
			</dav-button>

			<dav-button outline size="small" (click)="openWebsite()">
				<fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
				{{ locale.openWebsite }}
			</dav-button>
		</div>

		<storyline-article-list
			[loadingMore]="articlesLoading"
			[articles]="articles"
		></storyline-article-list>
	</div>
	}
</div>

<storyline-login-prompt-dialog
	#loginPromptDialog
	(primaryButtonClick)="navigateToLoginPage()"
></storyline-login-prompt-dialog>
