<div class="container">
	@if (publisher != null) {
	<div class="slide-up-in">
		<div class="head-container">
			<img [src]="publisher.logoUrl" width="72" height="72" />
			<h1>{{ publisher.name }}</h1>
		</div>

		<div class="head-buttons-container">
			<dav-button size="small">
				<fa-icon [icon]="faPlus"></fa-icon>
				Follow
			</dav-button>

			<dav-button outline size="small" (click)="openWebsite()">
				<fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
				Open website
			</dav-button>
		</div>

		<div class="article-list-container">
			<dav-list>
				@for (article of articles; track article.uuid) {
				<div class="slide-up-in">
					<dav-list-item
						[imageSrc]="article.imageUrl"
						[headline]="article.title"
						[subhead]="publisher.name"
						[href]="'article/' + article.uuid"
						(click)="articleItemClick($event, article)"
					></dav-list-item>
				</div>
				}
			</dav-list>
		</div>
	</div>
	}
</div>
