<div class="container">
	@if (publisher != null) {
	<div class="slide-up-in">
		<div class="head-container">
			<img [src]="publisher.logoUrl" width="72" height="72" />
			<h1>{{ publisher.name }}</h1>
		</div>

		<div class="head-buttons-container">
			<dav-button
				[color]="followTableObject != null ? 'error' : 'primary'"
				size="small"
				(click)="followTableObject != null ? unfollow() : follow()"
			>
				<fa-icon
					[icon]="faPlus"
					[style.transform]="
						followTableObject != null ? 'rotate(45deg)' : 'rotate(0deg)'
					"
				></fa-icon>
				{{ followTableObject != null ? locale.unfollow : locale.follow }}
			</dav-button>

			<dav-button outline size="small" (click)="openWebsite()">
				<fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
				{{ locale.openWebsite }}
			</dav-button>
		</div>

		<div class="article-list-container">
			<dav-list>
				@for (article of articles; track article.uuid) {
				<div class="slide-up-in">
					<dav-list-item
						[imageSrc]="article.imageUrl"
						[headline]="article.title"
						[subhead]="publisher.name"
						[href]="'article/' + article.uuid"
						(click)="articleItemClick($event, article)"
					></dav-list-item>
				</div>
				}
			</dav-list>
		</div>
	</div>
	}
</div>

<storyline-login-prompt-dialog
	#loginPromptDialog
	(primaryButtonClick)="navigateToLoginPage()"
></storyline-login-prompt-dialog>
