.container {
	display: flex;
	flex-direction: column;
}

.progress-ring-container {
	display: flex;
	align-items: center;
	margin-left: 48px;
	margin-top: 32px;
	padding: 32px;
}

.list-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 16px;
	max-width: 1000px;
	padding: 32px 0 12px;
}

.list-container.horizontal {
	flex-wrap: nowrap;
	justify-content: normal;
	overflow-x: scroll;
	overflow-y: hidden;
	padding: 2rem;
	max-width: 100vw;
}

.card-container {
	max-width: 300px;

	dav-card {
		height: 100%;
		cursor: pointer;
	}
}

.card-container.horizontal {
	min-width: 300px;
}

.bottom-progress-ring-container {
	display: flex;
	justify-content: center;
	margin: 32px 0;
}
