.container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.progress-ring-container {
	display: flex;
	align-items: center;
	margin-left: 48px;
	padding: 32px;
}

.list-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 16px;
	max-width: 1000px;
	padding: 0 12px;
}

.card-container {
	max-width: 300px;

	dav-card {
		height: 100%;
		cursor: pointer;
	}
}

.bottom-progress-ring-container {
	display: flex;
	justify-content: center;
	margin: 32px 0;
}
