<div class="container">
	@if (headline.length > 0) {
	<div class="store-list-header-container">
		<h4 class="store-list-header">
			{{ headline }}
		</h4>
	</div>
	}

	<div class="content-container">
		@if (loading) {
		<div class="progress-ring-container">
			<dav-progress-ring size="32"></dav-progress-ring>
		</div>
		} @else {
		<div class="list-container slide-up-in">
			@for (article of articles; track article.uuid) {
			<div class="card-container">
				<dav-card
					[headline]="article.title"
					[subhead]="article.publisher?.name || ''"
					[imageSrc]="article.imageUrl"
					altImageSrc="/assets/icons/icon-700x350.png"
					[subheadImageSrc]="article.publisher?.logoUrl || ''"
					[href]="'article/' + uriEncode(article.uuid)"
					(click)="itemClicked($event, article)"
				></dav-card>
			</div>
			}
		</div>

		<div class="bottom-progress-ring-container" *ngIf="loadingMore">
			<dav-progress-ring size="32"></dav-progress-ring>
		</div>
		}
	</div>
</div>
