<div class="container">
	@if (headline.length > 0) {
	<div class="store-list-header-container">
		@if (headlineImageUrl) {
		<img
			[src]="headlineImageUrl"
			width="28"
			height="28"
		/>
		}

		<h4 class="store-list-header">
			{{ headline }}
		</h4>

		@if (headline && moreButtonLink) {
		<dav-icon-button
			size="small"
			[href]="moreButtonLink"
			(click)="moreButtonClick($event)"
		>
			<fa-icon [icon]="faArrowRightLight"></fa-icon>
		</dav-icon-button>
		}
	</div>
	}

	<div class="content-container">
		@if (loading) {
		<div class="progress-ring-container">
			<dav-progress-ring size="32"></dav-progress-ring>
		</div>
		} @else {
		<div
			class="list-container slide-up-in"
			[class.horizontal]="orientation == 'horizontal'"
		>
			@for (article of articles; track article.slug) {
			<div
				class="card-container"
				[class.horizontal]="orientation == 'horizontal'"
			>
				<dav-card
					[headline]="article.title"
					[subhead]="article.publisher?.name || ''"
					[imageSrc]="article.imageUrl"
					altImageSrc="/assets/icons/icon-700x350.png"
					[subheadImageSrc]="article.publisher?.logoUrl || ''"
					[href]="'article/' + article.slug"
					(click)="itemClicked($event, article)"
				></dav-card>
			</div>
			}
		</div>

		<div class="bottom-progress-ring-container" *ngIf="loadingMore">
			<dav-progress-ring size="32"></dav-progress-ring>
		</div>
		}
	</div>
</div>
