<div class="container">
	@if (article != null) {
	<div class="slide-up-in">
		<h1>{{ article.title }}</h1>

		<img [src]="article.imageUrl" />

		<div class="profile-card-container">
			<dav-profile-card
				[imageSrc]="article.publisher.logoUrl"
				[name]="article.publisher.name"
				[href]="'/publisher/' + article.publisher.uuid"
				(click)="navigateToPublisherPage($event)"
			></dav-profile-card>

			@if (showShareButton) {
			<dav-icon-button size="small" (click)="share()">
				<fa-icon [icon]="faShareFromSquare"></fa-icon>
			</dav-icon-button>
			}
		</div>

		<div
			class="article-content"
			[innerHTML]="article.summary ?? article.content"
		></div>

		<div class="link-container">
			<dav-link-button [url]="article.url" target="blank">
				{{ locale.openArticle }}
			</dav-link-button>
		</div>
	</div>
	}
</div>
