<div class="container">
	@if (article != null) {
	<div class="slide-up-in">
		<h1>{{ article.title }}</h1>

		<img [src]="article.imageUrl" />

		<div class="profile-card-container">
			<dav-profile-card
				[imageSrc]="article.publisher.logoUrl"
				[name]="article.publisher.name"
				[href]="article.publisher.url"
			></dav-profile-card>
		</div>

		<div class="article-content" [innerHTML]="article.content"></div>

		<div>
			<p [innerHTML]="'Copyright: ' + article.publisher.copyright"></p>
		</div>

		<div class="link-container">
			<dav-link-button [url]="article.url" target="blank">
				Originalen Artikel öffnen
			</dav-link-button>
		</div>
	</div>
	}
</div>
