<div class="container">
	@if (article != null) {
	<div class="slide-up-in">
		<h1>{{ article.title }}</h1>

		@if (article.imageUrl != null) {
		<img [src]="article.imageUrl" />
		}

		<div class="profile-card-container">
			<dav-profile-card
				[imageSrc]="article.publisher.logoUrl"
				[name]="article.publisher.name"
				[href]="'/publisher/' + article.publisher.slug"
				(click)="navigateToPublisherPage($event)"
			></dav-profile-card>

			@if (showShareButton) {
			<dav-icon-button size="small" (click)="share()">
				<fa-icon [icon]="faShareFromSquare"></fa-icon>
			</dav-icon-button>
			} @if (bookmarkTableObject == null) {
			<dav-icon-button size="small" (click)="addToBookmarks()">
				<fa-icon [icon]="faBookmarkRegular"></fa-icon>
			</dav-icon-button>
			} @else {
			<dav-icon-button size="small" (click)="removeFromBookmarks()">
				<fa-icon [icon]="faBookmarkSolid"></fa-icon>
			</dav-icon-button>
			}
		</div>

		<div
			class="article-content"
			[innerHTML]="article.summary ?? article.content"
		></div>

		<div class="link-container">
			<dav-link-button [url]="article.url" target="_blank">
				{{ locale.openArticle }}
			</dav-link-button>
		</div>

		@if (dataService.dav.user.Plan == 0) {
		<div class="upgrade-card-container">
			<dav-card
				[headline]="locale.upgradeCardHeadline"
				[subhead]="locale.upgradeCardSubhead"
			>
				<div>
					<dav-button size="small" (click)="showUpgradePlusDialog()">
						{{ locale.learnMore }}
					</dav-button>
				</div>
			</dav-card>
		</div>
		} @if (articleRecommendations.length > 0) {
		<div class="article-recommendations-container">
			<storyline-article-list
				[headline]="articleRecommendationsHeadline"
				[loadingMore]="articleRecommendationsLoading"
				[articles]="articleRecommendations"
			></storyline-article-list>
		</div>
		}
	</div>
	}
</div>

<storyline-upgrade-plus-dialog
	#upgradePlusDialog
	[loading]="upgradePlusDialogLoading"
	(primaryButtonClick)="upgradePlusDialogPrimaryButtonClick()"
></storyline-upgrade-plus-dialog>
