.container {
	display: flex;
	flex-direction: column;
	padding: 12px;
}

dav-header {
	margin-bottom: 32px;
}

.progress-ring-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 48px;
	padding: 32px;
}
