<div class="container">
	@if (publisher != null) {
	<div class="slide-up-in">
		<div class="head-container">
			<img [src]="publisher.logoUrl" width="72" height="72" />
			<h1>{{ publisher.name }}</h1>
		</div>

		<div class="head-buttons-container">
			<dav-button outline size="small" (click)="showPublisherDialog()">
				{{ locale.edit }}
			</dav-button>
		</div>

		<dav-header addButtonVisible (addButtonClick)="showCreateFeedDialog()">
			Feeds
		</dav-header>

		<div class="list-container">
			<dav-list>
				@for (feed of feeds; track feed.uuid) {
				<dav-list-item [headline]="feed.name" size="small"></dav-list-item>
				}
			</dav-list>
		</div>
	</div>
	}
</div>

<storyline-create-publisher-dialog
	#publisherDialog
	[loading]="publisherDialogLoading"
	[name]="publisherDialogName"
	[nameError]="publisherDialogNameError"
	[description]="publisherDialogDescription"
	[descriptionError]="publisherDialogDescriptionError"
	[url]="publisherDialogUrl"
	[urlError]="publisherDialogUrlError"
	[logoUrl]="publisherDialogLogoUrl"
	[logoUrlError]="publisherDialogLogoUrlError"
	(primaryButtonClick)="updatePublisher($event)"
></storyline-create-publisher-dialog>

<storyline-create-feed-dialog
	#createFeedDialog
	[loading]="createFeedDialogLoading"
	[urlError]="createFeedDialogUrlError"
	(primaryButtonClick)="createFeed($event)"
></storyline-create-feed-dialog>
