<dav-dialog
	#dialog
	[headline]="locale.headline"
	[defaultButtonText]="actionsLocale.close"
	[visible]="visible"
	maxWidth="450"
	(dismiss)="visible = false"
	(defaultButtonClick)="visible = false"
>
	<div class="publisher-items-container">
		@for (publisher of publishers; track publisher.uuid) {
		<div class="publisher-item-container">
			<div class="publisher-details">
				<div>
					<img [src]="publisher.logoUrl" width="28" height="28" />
					<p>{{ publisher.name }}</p>
				</div>

				<dav-button outline color="error" size="small">
					{{ actionsLocale.unfollow }}
				</dav-button>
			</div>

			@if (publisher.feeds.items.length > 0) {
			<div class="feeds-container">
				@for (feed of publisher.feeds.items; track feed.uuid) {
				<dav-checkbox [label]="feed.name"></dav-checkbox>
				}
			</div>
			}
		</div>
		}
	</div>
</dav-dialog>
