<div class="container">
	@if (publishers.length > 0) {
	<storyline-horizontal-publisher-list
		#horizontalPublisherList
		[headline]="locale.youFollow"
		[publisherUuids]="publisherUuids"
		[showSettingsButton]="dataService.dav.isLoggedIn"
		(settingsButtonClick)="showFeedSettingsDialog()"
	></storyline-horizontal-publisher-list>
	}

	<storyline-article-list
		[loadingMore]="articlesLoading"
		[articles]="articles"
	></storyline-article-list>
</div>

<storyline-feed-settings-dialog
	#feedSettingsDialog
	[publishers]="publishers"
	[excludedFeedUuids]="excludedFeedUuids"
	(unfollowPublisher)="unfollowPublisher($event)"
	(includeFeed)="includeFeed($event)"
	(excludeFeed)="excludeFeed($event)"
	(closed)="feedSettingsDialogClosed()"
></storyline-feed-settings-dialog>

<storyline-upgrade-plus-dialog
	#upgradePlusDialog
	[loading]="upgradePlusDialogLoading"
	(primaryButtonClick)="navigateToCheckoutPage()"
></storyline-upgrade-plus-dialog>
