.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.publishers-container {
	margin-top: 24px;
}

dav-card {
	max-width: 450px;
	padding: 0 24px;

	div {
		display: flex;
		gap: 16px;
	}
}
