<div class="container">
	@if (publisherUuids.length > 0) {
	<storyline-horizontal-publisher-list
		[headline]="locale.youFollow"
		[publisherUuids]="publisherUuids"
		[showSettingsButton]="publishers.length > 0"
		(settingsButtonClick)="showFeedSettingsDialog()"
	></storyline-horizontal-publisher-list>
	}

	<storyline-article-list
		[loadingMore]="articlesLoading"
		[articles]="articles"
	></storyline-article-list>
</div>

<storyline-feed-settings-dialog
	#feedSettingsDialog
	[publishers]="publishers"
></storyline-feed-settings-dialog>
