<div class="container">
	@if (publishers.length > 0) {
	<storyline-horizontal-publisher-list
		#horizontalPublisherList
		[headline]="locale.youFollow"
		[publisherUuids]="publisherUuids"
		[showSettingsButton]="true"
		(settingsButtonClick)="showFeedSettingsDialog()"
	></storyline-horizontal-publisher-list>
	}

	<dav-card
		[headline]="locale.activateNotificationsCard.headline"
		[subhead]="locale.activateNotificationsCard.subhead"
		*ngIf="activateNotificationsCardVisible"
	>
		<div>
			<dav-button size="small" (click)="activateNotifications()">
				{{ actionsLocale.activate }}
			</dav-button>

			<dav-button
				outline
				size="small"
				(click)="closeActivateNotificationsCard()"
			>
				{{ actionsLocale.close }}
			</dav-button>
		</div>
	</dav-card>

	<storyline-article-list
		[loadingMore]="articlesLoading"
		[articles]="articles"
	></storyline-article-list>
</div>

<storyline-feed-settings-dialog
	#feedSettingsDialog
	[publishers]="publishers"
	[excludedFeedUuids]="excludedFeedUuids"
	(unfollowPublisher)="unfollowPublisher($event)"
	(includeFeed)="includeFeed($event)"
	(excludeFeed)="excludeFeed($event)"
	(closed)="feedSettingsDialogClosed()"
></storyline-feed-settings-dialog>

<storyline-upgrade-plus-dialog
	#upgradePlusDialog
	[loading]="upgradePlusDialogLoading"
	(primaryButtonClick)="upgradePlusDialogPrimaryButtonClick()"
></storyline-upgrade-plus-dialog>
