<div class="navbar acrylic">
	<!-- Logo + name -->
	<a class="navbar-header" routerLink="/" (click)="scrollToTop('/')">
		<img src="/assets/icons/icon-192.png" width="48" height="48" />
		<span>Storyline</span>
	</a>

	@if (!dataService.isMobile) {
	<div class="navbar-tab-bar-container">
		<dav-tab-bar>
			<dav-tab-bar-item
				[active]="newsFeedTabActive"
				(click)="navigateToPage('/')"
			>
				{{ locale.newsFeed }}
			</dav-tab-bar-item>

			<dav-tab-bar-item
				[active]="discoverTabActive"
				(click)="navigateToPage('/discover')"
			>
				{{ locale.discover }}
			</dav-tab-bar-item>
		</dav-tab-bar>
	</div>
	}

	<div class="navbar-spacer"></div>

	<div class="navbar-icon-buttons-container">
		@if (dataService.bookmarksCount > 0) {
		<dav-icon-button
			[selected]="bookmarksButtonSelected"
			(click)="navigateToPage('/bookmarks')"
		>
			@if (bookmarksButtonSelected) {
			<fa-icon [icon]="faBookBookmarkSolid"></fa-icon>
			} @else {
			<fa-icon [icon]="faBookBookmarkRegular"></fa-icon>
			}
		</dav-icon-button>
		} @if (dataService.userIsAdmin) {
		<dav-icon-button
			[selected]="adminButtonSelected"
			(click)="navigateToPage('/admin')"
		>
			@if (adminButtonSelected) {
			<fa-icon [icon]="faHammerSolid"></fa-icon>
			} @else {
			<fa-icon [icon]="faHammerRegular"></fa-icon>
			}
		</dav-icon-button>
		}

		<dav-icon-button
			[selected]="userButtonSelected"
			(click)="navigateToPage('/user')"
		>
			@if (!userButtonSelected && !dataService.dav.isLoggedIn) {
			<fa-icon [icon]="faCircleUserRegular"></fa-icon>
			} @else if (userButtonSelected && !dataService.dav.isLoggedIn) {
			<fa-icon [icon]="faCircleUserSolid"></fa-icon>
			} @else if (dataService.dav.isLoggedIn) {
			<img
				[src]="dataService.dav.user.ProfileImage"
				class="profile-image"
				width="28"
				height="28"
			/>
			}
		</dav-icon-button>

		<dav-icon-button
			[selected]="settingsButtonSelected"
			(click)="navigateToPage('/settings')"
		>
			@if (settingsButtonSelected) {
			<fa-icon [icon]="faGearSolid"></fa-icon>
			} @else {
			<fa-icon [icon]="faGearRegular"></fa-icon>
			}
		</dav-icon-button>
	</div>
</div>

<div
	#contentContainer
	class="content-container"
	[class.mobile]="dataService.isMobile"
>
	<router-outlet></router-outlet>
</div>

<div class="bottom-navbar acrylic" *ngIf="dataService.isMobile">
	<dav-navigation-bar>
		<dav-navigation-bar-item
			[active]="newsFeedTabActive"
			(click)="navigateToPage('/')"
		>
			@if (newsFeedTabActive) {
			<fa-icon slot="icon" [icon]="faNewspaperSolid"></fa-icon>
			} @else {
			<fa-icon slot="icon" [icon]="faNewspaperRegular"></fa-icon>
			}

			<p slot="label">{{ locale.newsFeed }}</p>
		</dav-navigation-bar-item>

		<dav-navigation-bar-item
			[active]="discoverTabActive"
			(click)="navigateToPage('/discover')"
		>
			@if (discoverTabActive) {
			<fa-icon slot="icon" [icon]="faSparklesSolid"></fa-icon>
			} @else {
			<fa-icon slot="icon" [icon]="faSparklesRegular"></fa-icon>
			}

			<p slot="label">{{ locale.discover }}</p>
		</dav-navigation-bar-item>
	</dav-navigation-bar>
</div>

<storyline-loading-screen
	*ngIf="dataService.loadingScreenVisible"
></storyline-loading-screen>
