<div class="container slide-up-in">
	<dav-header size="large">
		{{ locale.title }}
	</dav-header>

	<div class="settings-container">
		<div class="setting">
			<!-- Theme -->
			<dav-setting [header]="locale.theme">
				<dav-dropdown
					[options]="themeDropdownOptions"
					[selectedKey]="selectedTheme"
					(change)="themeDropdownChange($event)"
				></dav-dropdown>
			</dav-setting>
		</div>
	</div>

	<div class="app-info-container">
		<!-- App information -->
		<div>
			<div class="link-container">
				<dav-link-button url="https://github.com/dav-apps/Storyline">
					{{ locale.github }}
				</dav-link-button>

				<dav-link-button url="https://dav-apps.tech/privacy">
					{{ locale.privacy }}
				</dav-link-button>
			</div>

			<p class="version-text">
				Version {{ version }}<br />
				Copyright &copy; {{ year }} by dav
			</p>
		</div>
	</div>
</div>
