<div class="container">
	<div class="store-list-header-container">
		<h4 class="store-list-header">
			{{ headline }}
		</h4>

		@if (headline && showMoreButton) {
		<dav-icon-button
			size="small"
			href="publishers"
			(click)="moreButtonClick($event)"
		>
			<fa-icon [icon]="faArrowRightLight"></fa-icon>
		</dav-icon-button>
		}
	</div>

	<div class="content-container">
		@if (loading) {
		<div class="progress-ring-container">
			<dav-progress-ring size="32"></dav-progress-ring>
		</div>
		} @else {
		<div class="list-container slide-up-in">
			@for (publisher of publishers; track publisher.uuid) {
			<dav-icon-card
				[text]="publisher.name"
				[href]="'publisher/' + publisher.uuid"
				target="_blank"
				(click)="navigateToPublisherPage($event, publisher)"
			>
				<img [src]="publisher.logoUrl" />
			</dav-icon-card>
			}
		</div>
		}
	</div>
</div>
